form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.close-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

mat-form-field {
    width: 11rem;
    padding: 0.5rem;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: black !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: black !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: black !important;
    ;
}

.cards__item {
    display: flex;
    padding: 1rem;
}

.card__title {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

@media(min-width: 200px) {
    .form-box {
        flex-direction: column;
    }

    .cards__item {
        width: 100%;
        height: 5rem;
    }

    .header-box {
        padding-left: 2.4rem;
        font-size: 1.3rem;
        line-height: 1.5rem;
    }

    .card__title {
        width: 70%;
        font-size: 0.5rem;
        padding: 0.5rem 0rem 0.5rem 0.5rem;
        line-height: 1.2;
    }
}

@media(min-width: 600px) {
    .form-box {
        flex-direction: column;
    }

    .header-box {
        padding-left: 7rem;
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .card__title {
        width: 70%;
        font-size: 0.7rem;
        padding: 1rem 0rem 1rem 1rem;
        line-height: 1.6;
    }
}

@media(min-width: 950px) {
    .form-box {
        /* height: 13rem; */
        flex-direction: row;
    }

    .cards__item {
        width: 45%;
        height: 5rem;
    }

    .header-box {
        padding-left: 8rem;
    }
}

@media(min-width: 1200px) {
    .cards__item {
        width: 30%;
        height: 5rem;
    }

    .header-box {
        padding-left: 8rem;
    }
}

.card {
    width: 100%;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    display: grid;
    grid-template-columns: minmax(100px, 32%) 1fr;
}

.card__content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(100%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);
}

.travel-places-box {
    margin: 2rem 0;
    display: flex;
    flex-direction: line;
    flex-wrap: wrap;
    justify-content: center;
}

mat-icon {
    margin-left: 0.1rem;
}

#map-canvas {
    width: 100%;
    height: 20rem;
}

#map #infowindow-content {
    display: inline;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

.radio-button {
    margin: 0 10px 1rem;
}

.serch-location {
    width: 20rem;
}

mat-dialog-actions {
    display: flex;
    justify-content: center;
}