<div mat-dialog-title class="close-box">
    <div>Create a new trip</div>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-dialog-content class="mat-typography">
    <div class="form-box">
        <form [formGroup]="form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Name of trip</mat-label>
                <input type="text" matInput formControlName="name" [errorStateMatcher]="matcher"
                    (keyup)="onFormChanged()">
                <mat-error>
                    Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Date</mat-label>
                <input type="date" matInput formControlName="date" [errorStateMatcher]="matcher"
                    (change)="onFormChanged()">
                <mat-error>
                    Date is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Start hour</mat-label>
                <input type="time" matInput formControlName="startTime" [errorStateMatcher]="matcher"
                    (change)="onFormChanged()">
                <mat-error>
                    Start hour is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>End hour</mat-label>
                <input type="time" matInput formControlName="endTime" [errorStateMatcher]="matcher"
                    (change)="onFormChanged()">
                <mat-error>
                    End hour is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>City</mat-label>
                <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="city"
                    (keyup)='dataChange($event)' [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option (onSelectionChange)="onCityChanged(city)" *ngFor="let city of cities"
                        value="{{city.name}}">
                        {{city.name}}({{city.country.name}})
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>
    <div *ngIf="isValid" class="section-4">
        <h2 mat-dialog-title>Do you want as the start location to be also the final location? </h2>
        <mat-radio-group [(ngModel)]="startEndRadioButtonValue">
            <mat-radio-button class="radio-button" value="yes">Yes</mat-radio-button>
            <mat-radio-button class="radio-button" value="No">No</mat-radio-button>
        </mat-radio-group>
    </div>
    <div *ngIf="isValid && startEndRadioButtonValue!=null" class="section-2">
        <h2 mat-dialog-title>Select what places you want to visit</h2>
        <div class="travel-places-box">
            <div class="cards__item" *ngFor="let place of travelPlaces">
                <div class="card">
                    <div class="card__image"
                        style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), url({{place.imageUrl}}) no-repeat center; background-size: cover;">
                    </div>
                    <div class="card__content">
                        <div class="card__title">{{place.name}}</div>
                        <button (click)="addOrRemovedClicked(place)" class="add-button" mat-mini-fab
                            [color]="place.isFavorite ? 'warn' : 'basic'">
                            <mat-icon *ngIf="!place.isFavorite">add</mat-icon>
                            <mat-icon *ngIf="place.isFavorite">clear</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [hidden]="!(isValid && startEndRadioButtonValue!=null && travelPlacesTripList.length!=0)" -->
    <div class="section-3">
        <h2 mat-dialog-title>Select the start location for your trip</h2>
        <div class="pac-card" id="pac-card">
            <div id="pac-container">
                <input id="pac-input" class="serch-location" type="text" placeholder="Enter a location" />
            </div>
        </div>
        <div #map id="map-canvas">

        </div>
        <div id="infowindow-content">
            <span id="place-name" class="title"></span><br />
            <span id="place-address"></span>
        </div>
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&libraries=places&v=weekly"
            defer></script>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button cdkFocusInitial (click)="submit()">Generate a new trip</button>
</mat-dialog-actions>