<div class="content">
    <div class="presentation-box"
        style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), url(https://files.primariaclujnapoca.ro/page/jurnal-municipal.jpg) no-repeat center center;">
        <div class="title presentation">
            Serch for a city ...
        </div>
        <div class="search-div">
            <input type="text" name="" placeholder="Serch for a city ..." (keyup)='sendData($event)'>
            <section class="serch-results">
                <hr *ngIf="hasQuery" class="serch-result" />
                <div (click)=nearByClicked() *ngIf="hasQuery" class="serch-result serch-component">
                    <mat-icon> near_me</mat-icon>
                    <div class="text-div">
                        <span> Nearby</span>
                    </div>
                </div>
                <hr *ngIf="hasQuery" class="serch-result" />
                <div class="serch-result not-found-div" *ngIf="similarCities.length == 0 && hasQuery"> Sorry. Noting
                    Found</div>
                <ng-template ngFor let-city [ngForOf]="similarCities" let-i="index">
                    <hr class="serch-result" *ngIf="i > 0" />
                    <div (click)=resultClicked(city.id) class="serch-result serch-component">
                        <mat-icon> location_on</mat-icon>
                        <div class="text-div">
                            <span> {{city.name}}</span>
                            <span class="text-country"> {{city.countryName}}</span>
                        </div>
                    </div>
                </ng-template>
            </section>
            <span class="e-icons e-search"></span>
        </div>
    </div>
    <div class="recomandation-cities-box">
        <div *ngFor="let city of cities" class="card2">
            <div (click)=resultClicked(city.id) *ngIf="city.imageUrl!=null" class="card"
                style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), url({{city.imageUrl}}) no-repeat center; background-size: cover;">
                <div class="city_title">
                    Explore <br> {{city.name}}
                </div>
            </div>
            <div (click)=resultClicked(city.id) *ngIf="city.imageUrl==null" class="card"
                style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), url(https://ychef.files.bbci.co.uk/976x549/p09xr9sn.jpg) no-repeat center; background-size: cover;">
                <div class="city_title">
                    Explore <br>{{city.name}}
                </div>
            </div>
        </div>
    </div>
</div>