/* .body {
    width: 85%;
    height: 25rem;
    margin: 0 auto;
    background-image: url(src/assets/images/home_page_background.png);
    background-size: cover;
    border-radius: 1.5rem;
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;
} */

input[type="text"] {
    font-size: 1rem;
    width: 30%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
}

.title {
    height: auto;
    line-height: 0.9;
    padding: 0 3rem;
    color: white;
    text-align: center;
}

.city_title {
    font-size: 2rem;
    height: auto;
    line-height: 0.9;
    padding: 0 3rem;
    color: white;
    text-align: center;
}

.presentation-box {
    display: flex;
    justify-content: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-weight: bold;
    flex-direction: column;
}

.recomandation-cities-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.serch-results {
    width: 50%;
    position: absolute;
    margin: 1.1rem;
    background-color: transparent;
    overflow: hidden;
    max-height: 8rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}


@media(min-width: 200px) {
    input[type="text"] {
        font-size: 1rem;
        width: 60%;
    }

    .serch-results {
        width: 60%;
    }

    .title {
        font-size: 2rem;
    }

    .content {
        width: 100%;
        height: 60rem;
        margin: 0 auto;
    }

    .presentation-box {
        height: 35%;
        width: 100%;
    }

    .recomandation-cities-box {
        height: 65%;
        width: 100%;
        flex-direction: column;
    }

    .card2 {
        width: 80%;
        height: 25%
    }
}

@media(min-width: 700px) {
    input[type="text"] {
        font-size: 1rem;
        width: 40%;
    }

    .title {
        font-size: 3rem;
    }

    .content {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .presentation-box {
        height: 65%;
        width: 100%;
    }

    .recomandation-cities-box {
        height: 35%;
        width: 100%;
        flex-direction: row;
    }

    .card2 {
        width: 28%;
        height: 80%;
    }

    .serch-results {
        width: 40%;
    }
}


.serch-results hr {
    border: 0;
    height: 0.1rem;
    background-color: rgb(215, 215, 215);
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.not-found-div {
    height: 2.5rem;
    display: flex;
    align-items: center;
}

.serch-result {
    width: 100%;
    padding: 0 0.4rem;
    margin: 0;
    background-color: transparent;
    font-weight: bold;
}

.serch-component:hover {
    background-color: rgb(88, 88, 88, 0.5);
    cursor: pointer;
}

.serch-component {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-div {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    letter-spacing: 0.1rem;
}

.text-country {
    font-weight: normal;
    font-size: 0.7rem;
}

.presentation {
    display: flex;
    justify-content: center;
}

.search-div {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.card {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.25rem;
    filter: contrast(100%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.15);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}