.my-container {
    position: fixed;
    z-index: 2;
    right: 0;
    bottom: 1res;
    width: 25%;
    height: auto;
    max-height: 30rem;
    font-size: large;
}

.fade-out {
    opacity: e;
    transition: visibility as 0.9s, opacity 0.9s ease-in-out;
    visibility: hidden;
}

.my-notification {
    padding: 1ren 1. Srea;
    margin: 0.Srea;
    animation: fadein 1s;
    border-radius: 6.Sres;
}

.a-notification_content {
    padding: 0.1rem;
}

.my-notification:hover {
    cursor: pointer;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.close-message-animation {
    transform: translateX(+148%);
    transition: 0.5s ease-in-out;
}

.drop-element-animation {
    transform: translateY(+117%);
    transition: 0.3s;
}