<div class="content">
    <div class="presentation-box"
        style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), url(https://www.intelligentcitieschallenge.eu/themes/icc/images/jpg/bg_homepage.jpg) no-repeat center center;">
        <div class="title presentation">
            Explore nearby places
        </div>
        <div class="search-box presentation">
            <mat-slider class="slider" thumbLabel [displayWith]="formatLabel" (change)="updateValue($event)"
                tickInterval="5" step="1" min="0" max="20" value="20"></mat-slider>
        </div>
    </div>
    <div class="travel-places-box">
        <div class="cards__item" *ngFor="let place of travelPlacesByCity">
            <div class="card">
                <div class="card__image"
                    style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), url({{place.imageUrl}}) no-repeat center; background-size: cover;">
                </div>
                <div class="card__content">
                    <button class="favorite-box" mat-mini-fab (click)="favoriteClicked(place)"
                        [color]="place.isFavorite ? 'warn' : 'basic'">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    <div class="card__title">{{place.name}}</div>
                    <hr>
                    <div class="icons-box">
                        <mat-icon class="icons"> directions_walk</mat-icon>
                        <span>{{place.distance}} Km</span>
                        <mat-icon class="icons"> location_on</mat-icon>
                        <span>{{place.cityName}}</span>
                    </div>
                    <hr>
                    <p class="card__text"> {{place.description}} </p>
                    <button class="btn btn--block card__btn">More Details</button>
                </div>
            </div>
        </div>
    </div>
</div>