<div *ngIf="isLogInCreateClicked" class="mat-typography">
    <div class="button-log-in-box">
        <button mat-button mat-dialog-close class="close-button">
            <mat-icon mat-button mat-dialog-close>close</mat-icon>
        </button>
    </div>
    <h1 class="title-box">LOG IN</h1>
    <mat-dialog-content class="inputs-box">
        <form [formGroup]="logInForm" class="form-box">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Username</mat-label>
                <mat-icon matPrefix>person</mat-icon>
                <input type="text" matInput formControlName="username" [errorStateMatcher]="matcher">
                <mat-error>
                    Username is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <mat-icon matPrefix> vpn_key</mat-icon>
                <input type="password" matInput formControlName="password" [errorStateMatcher]="matcher">
                <mat-error>
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions class="button-log-in">
        <a (click)="isCreateAccountClicked = true; isLogInCreateClicked = false">Create a new account</a>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="logInButtonClicked()">Log In</button>
    </mat-dialog-actions>
</div>
<div *ngIf="isCreateAccountClicked" class="mat-typography">
    <div class="button-register-box">
        <button mat-button (click)="isCreateAccountClicked = false; isLogInCreateClicked = true">
            <mat-icon>keyboard_backspace</mat-icon>
        </button>
        <button mat-button mat-dialog-close class="close-button">
            <mat-icon mat-button mat-dialog-close>close</mat-icon>
        </button>
    </div>
    <h1 class="title-box">REGISTER</h1>
    <mat-dialog-content class="inputs-box">
        <form [formGroup]="registerForm" class="form-box">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Username</mat-label>
                <mat-icon matPrefix>person</mat-icon>
                <input type="text" matInput formControlName="usernameR" [errorStateMatcher]="matcher">
                <mat-error>
                    Username is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-icon matPrefix>email</mat-icon>
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="email" [errorStateMatcher]="matcher"
                    placeholder="Ex. pat@example.com">
                <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="email.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <mat-icon matPrefix> vpn_key</mat-icon>
                <input type="password" matInput formControlName="passwordR" [errorStateMatcher]="matcher">
                <mat-error>
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Confir Password</mat-label>
                <mat-icon matPrefix> vpn_key</mat-icon>
                <input type="password" matInput formControlName="validationPaddword" [errorStateMatcher]="matcher">
                <mat-error>
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions class="button-log-in">
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="registerButtonClicked()">Create
            Account</button>
    </mat-dialog-actions>
</div>