.button-log-in-box {
    display: flex;
    justify-content: flex-end;
}

.title-box {
    text-align: center;
    font-weight: bold;
}

.mat-typography {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

@media(min-width: 600px) {
    .mat-typography {
        min-width: 350px;
        max-width: 500px;
        width: 100%;
    }
}

.form-box {
    display: grid;
    place-items: center;
}

.example-full-width {
    padding: 0.5rem;
    width: 90%;
}

.button-log-in {
    margin-bottom: 1rem;
    display: grid;
    place-items: center;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: black !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: black !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: black !important;
    ;
}

.button-register-box {
    display: flex;
    align-items: row;
    justify-content: space-between;
}

a {
    padding-bottom: 1rem;
}

a:hover {
    pointer-events: all;
    text-decoration: underline;
}