.body {
    background-color: white;
    margin: 0;
    height: 4rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    background: transparent;
}

.logo {
    height: 4rem;

}

.navigation-bar-div {
    display: flex;
    justify-content: center;
}

.navigation-bar-div img {
    margin: 0.5rem;
}


@media(min-width: 200px) {
    .normal-button {
        width: 4.525rem;
        height: 1.4rem;
    }

    .content-button {
        font-size: 0.7rem;
        gap: 0rem;
    }

    .content-button mat-icon {
        transform: scale(0.5);
        padding: 0;
        margin: 0;
    }

    .navigation-bar-div img {
        width: 5.625rem;
        height: 1.7rem;
    }
}

@media(min-width: 600px) {
    .normal-button {
        width: 7.125rem;
        height: 2.3rem;
    }

    .content-button {
        font-size: 1.1rem;
        gap: 0rem;
    }

    .content-button mat-icon {
        transform: scale(1);
    }

    .navigation-bar-div img {
        width: 13rem;
        height: 3rem;
    }
}

.logo-box {
    cursor: pointer;
}

.content-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon-button {
    width: 4.125rem;
    height: 2.5rem;
}

button {
    background: transparent;
    border: none;
    display: block;
    position: relative;
    text-align: center;
    text-decoration: none;
    margin: 0.6rem;
    transition: .5s;
    font-size: 1rem;
}

button span {
    position: absolute;
    transition: transform .5s;
}

button span:nth-child(1),
button span:nth-child(3) {
    width: 100%;
    height: 1px;
}

button span:nth-child(1) {
    top: 0;
    left: 0;
    transform-origin: right;
}

button:hover span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

button span:nth-child(3) {
    bottom: 0;
    left: 0;
    transform-origin: left;
}

button:hover span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

button span:nth-child(2),
button span:nth-child(4) {
    width: 1px;
    height: 100%;
}

button span:nth-child(2) {
    top: 0;
    left: 0;
    transform: scale(0);
    transform-origin: bottom;
}

button:hover span:nth-child(2) {
    transform: scale(1);
    transform-origin: top;
    transition: transform .5s;
}

button span:nth-child(4) {
    top: 0;
    right: 0;
    transform: scale(0);
    transform-origin: top;
}

button:hover span:nth-child(4) {
    transform: scale(1);
    transform-origin: bottom;
    transition: transform .5s;
}

.white-theme {
    color: white;
}

.white-theme span {
    background: white;
}

.black-theme {
    color: black;
}

.black-theme span {
    background: black;
}