<div class="body">
    <div class="navigation-bar-div">
        <div class="logo-box" (click)="logoClicked()">
            <img *ngIf="isWhileTheme" src="assets/images/logo_white.png">
            <img *ngIf="!isWhileTheme" src="assets/images/logo_black.png">
        </div>
    </div>
    <div class="navigation-bar-div buttons">
        <button class="normal-button" (click)="tripsClicked()"
            [ngClass]="{'white-theme': isWhileTheme, 'black-theme': !isWhileTheme}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content-button">
                <mat-icon>directions_walk</mat-icon>
                &nbsp;&nbsp;Trips
            </div>
        </button>
        <button class="normal-button" (click)="favoritesClicked()"
            [ngClass]="{'white-theme': isWhileTheme, 'black-theme': !isWhileTheme}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content-button">
                <mat-icon>favorite_border</mat-icon>
                &nbsp;&nbsp;Favorites
            </div>
        </button>
        <button *ngIf="!isUserLogged" (click)="openDialog()" class="normal-button"
            [ngClass]="{'white-theme': isWhileTheme, 'black-theme': !isWhileTheme}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content-button">
                <mat-icon>favorite_border</mat-icon>
                &nbsp;&nbsp;Sing In
            </div>
        </button>
        <button *ngIf="isUserLogged" (click)="logOut()" class="normal-button"
            [ngClass]="{'white-theme': isWhileTheme, 'black-theme': !isWhileTheme}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content-button">
                <mat-icon>person</mat-icon>
                &nbsp;&nbsp;User
            </div>
        </button>
    </div>
</div>