<div mat-dialog-title class="close-box">
    <div>{{trip.name}} ({{trip.dateStart | date:'mediumDate'}})</div>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-dialog-content class="content">
    <div class="left">
        <mat-stepper orientation="vertical" #stepper>
            <ng-template matStepperIcon="edit">
                <mat-icon>visibility</mat-icon>
            </ng-template>
            <mat-step>
                <ng-template matStepLabel>Start location: {{trip.startLocationName}}</ng-template>
                <ng-template matStepContent>
                    <div class="icon-box">
                        <mat-icon>access_time</mat-icon>
                        <span>
                            Start time: {{trip.startHour}}
                        </span>
                    </div>
                    <div class="icon-box">
                        <mat-icon>directions_walk</mat-icon>
                        <span
                            *ngIf="distanceTimesBetweenLocations.length > 0">{{distanceTimesBetweenLocations[0].dText}}
                            ({{distanceTimesBetweenLocations[0].tText}})
                        </span>
                    </div>
                </ng-template>
            </mat-step>
            <div *ngFor="let travelPlace of travelPlaces; let i = index">
                <mat-step>
                    <ng-template matStepLabel>{{travelPlace.name}}</ng-template>
                    <ng-template class="ceva" matStepContent>
                        <div class="icon-box">
                            <mat-icon>access_time</mat-icon>
                            <span>
                                Arrive time: {{timesArrives[i]}}
                            </span>
                        </div>
                        <div class="icon-box">
                            <mat-icon>timelapse</mat-icon>
                            <span>
                                Average visit duration: {{travelPlace.duration}}
                                min.
                            </span>
                        </div>
                        <div class="icon-box">
                            <mat-icon>access_time</mat-icon>
                            <span *ngIf="trip.isStartEnd">
                                Go time: {{timesGo[i]}}
                            </span>
                            <span *ngIf="!trip.isStartEnd && i < timesArrives.length - 1 ">
                                Go time: {{timesGo[i]}}
                            </span>
                            <span *ngIf="!trip.isStartEnd && i == timesArrives.length - 1 ">
                                End time: {{timesGo[i]}}
                            </span>
                        </div>
                        <div *ngIf="trip.isStartEnd" class="icon-box">
                            <mat-icon>directions_walk</mat-icon>
                            <span
                                *ngIf="distanceTimesBetweenLocations.length > i">{{distanceTimesBetweenLocations[i+1].dText}}
                                ({{distanceTimesBetweenLocations[i+1].tText}})
                            </span>
                        </div>

                    </ng-template>
                </mat-step>
            </div>
            <mat-step *ngIf="this.trip.isStartEnd">
                <ng-template matStepLabel>End location: {{trip.startLocationName}}</ng-template>
                <ng-template matStepContent>
                    <div class="icon-box">
                        <mat-icon>access_time</mat-icon>
                        <span>
                            End time: {{timesArrives[timesArrives.length - 1]}}
                        </span>
                    </div>
                </ng-template>
            </mat-step>
        </mat-stepper>
    </div>
    <div class="right">
        <div #map id="map-canvas">

        </div>
    </div>
</mat-dialog-content>