.content {
    display: flex;
}

#map-canvas {
    width: 100%;
    height: 100%;
}

@media(min-width: 150px) {
    .content {
        height: 30rem;
        flex-direction: column;
        align-items: center;
    }

    .left {
        width: 90%;
        height: 50%;
        overflow: scroll;
    }

    .right {
        width: 90%;
        height: 50%;
    }
}

@media(min-width: 650px) {
    .content {
        width: 30rem;
        height: 30rem;
        flex-direction: column;
    }

    .left {
        width: 100%;
        height: 60rem;
        overflow: scroll;
    }

    .right {
        width: 100%;
        height: 60rem;
    }
}

@media(min-width: 850px) {
    .content {
        width: 40rem;
        height: 40rem;
        flex-direction: row;
    }

    .left {
        width: 40%;
        max-height: 90%;
        overflow: auto;
    }

    .right {
        width: 60%;
        max-height: 90%;
    }
}

@media(min-width: 1100px) {
    .content {
        width: 55rem;
        height: 40rem;

    }

    .left {
        width: 40%;
        max-height: 90%;
        overflow: auto;
    }

    .right {
        width: 60%;
        max-height: 90%;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: black;
}

::ng-deep .mat-step-header .mat-step-icon-state-edit {
    background-color: black;
}

/* ::ng-deep .mat-step-header .mat-step-text-label {
    overflow: inherit;
} */

.close-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 1.7rem;
}


.icon-box {
    display: flex;
    align-items: center;
    margin: 0.7rem;
    gap: 0.3rem
}