<div class="content">
    <div class="header-box">
        <div>
            Your Trips
        </div>
        <div class="serch-add-box">
            <button (click)="createTripClicked()" mat-raised-button>
                <mat-icon>add</mat-icon>
                Create a new trip
            </button>
        </div>
    </div>
    <hr class="header-hr">
    <div class="travel-places-box">
        <div class="cards__item" *ngFor="let place of trips">
            <div (click)="openTrip(place)" class="card">
                <div class="image" *ngFor="let imagee of place.imagesUrl">
                    <div class="image-box"
                        style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), url(  {{imagee}}) no-repeat center; background-size: cover;">
                    </div>
                </div>
                <div class="card-hover">
                    <div class="card-hover-content">
                        <div class="title">{{place.name}}</div>
                        <div class="icon-box">
                            <mat-icon> location_on</mat-icon>
                            <span>{{place.numberLocations}} locations</span>
                        </div>
                        <div class="icon-box">
                            <mat-icon>access_time</mat-icon>
                            <span>{{place.duration}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>