.content {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 5rem;
    display: grid;
    place-items: center;
}

.header-box {
    width: 90%;
    font-size: 2.5rem;
    line-height: 3rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.travel-places-box {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: line;
    flex-wrap: wrap;
    justify-content: center;
}

.cards__item {
    padding: 1rem;
    border-radius: 1rem;
}

.serch-add-box {
    display: flex;
    justify-content: center;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    object-fit: cover;
    position: relative;
}

@media(min-width: 200px) {
    .cards__item {
        width: 90%;
        height: 20rem;
    }

    .header-box {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}

@media(min-width: 700px) {
    .cards__item {
        width: 40%;
        height: 20rem;
    }

    .header-box {
        font-size: 2.5rem;
        line-height: 3rem;
        padding-bottom: 0.5rem;
    }
}

@media(min-width: 950px) {
    .cards__item {
        width: 35%;
        height: 22rem;
    }

    /* 
    .header-box {
        padding-left: 8rem;
    } */
}

@media(min-width: 1200px) {
    .cards__item {
        width: 28%;
        height: 22rem;
    }

    /* .header-box {
        padding-left: 8rem;
    } */
}

.image {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.header-hr {
    height: 0.1rem;
    width: 95%;
    background-color: black;
}

.image-box {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.card-hover {
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    border-radius: 0.25rem;
    transform: translate(-0%, -0%);
    -ms-transform: translate(-0%, -0%)
}

.card-hover-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.icon-box {
    margin-bottom: 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-box span {
    margin-left: 0.3rem;
}

.card .card-hover {
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    cursor: pointer;
}

.card-hover-content {
    color: white;
}

.title {
    font-size: 2rem;
    height: auto;
    line-height: 0.9;
    padding: 0 3rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
}

.card {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}