<h1 mat-dialog-title>Info</h1>
<div mat-dialog-content>
    <div>
        {{data}}
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>