<div class="content">
    <div class="presentation-box"
        style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), url({{city.imageUrl}}) no-repeat center center;">
        <div class="title presentation">
            Explore {{city.name}}
        </div>
        <div class="search-box presentation">
            <input type="text" name="" placeholder="Serch for a location..." (keyup)='dataChange($event)'>
        </div>
    </div>
    <div class="travel-places-box">
        <div class="cards__item" *ngFor="let place of travelPlacesByCity">
            <div class="card">
                <div class="card__image"
                    style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), url({{place.imageUrl}}) no-repeat center; background-size: cover;">
                </div>
                <div class="card__content">
                    <button class="favorite-box" (click)="favoriteClicked(place)" mat-mini-fab
                        [color]="place.isFavorite ? 'warn' : 'basic'">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    <div class="card__title">{{place.name}}</div>
                    <hr>
                    <p class="card__text"> {{place.description}} </p>
                    <button (click)="moreDetailsClicked(place.id)" class="btn btn--block card__btn">More
                        Details</button>
                </div>
            </div>
        </div>
    </div>
</div>