.content {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

.presentation-box {
    height: 25rem;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.presentation-box {
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentation {
    display: flex;
    justify-content: center;
}

.title {
    font-size: 4rem;
    height: auto;
    line-height: 0.9;
    padding: 0 3rem;
}

.search-box input {
    font-size: 1.3rem;
    width: 20rem;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
}

.search-box {
    margin-top: 3rem;
}

::placeholder {
    color: white;
    opacity: 0.5;
}

.travel-places-box {
    margin-top: 2rem;
    display: flex;
    flex-direction: line;
    flex-wrap: wrap;
    justify-content: center;
}

.cards__item {
    display: flex;
    padding: 1rem;
}

@media(min-width: 300px) {
    .cards__item {
        width: 90%;
        height: 30rem;
    }
}

@media(min-width: 600px) {
    .cards__item {
        width: 40%;
        height: 27rem;
    }
}

@media(min-width: 950px) {
    .cards__item {
        width: 27%;
        height: 27rem;
    }
}

@media(min-width: 1200px) {
    .cards__item {
        width: 21%;
        height: 27rem;
    }
}

.card {
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    display: grid;
    grid-template-rows: minmax(170px, 32%) 1fr;
}

.card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    position: relative;
}

.card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(100%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);
}


.card__title {
    color: black;
    font-weight: bold;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card__text {
    font-size: 0.775rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}

.btn {
    background-color: white;
    border: 1px solid lightgray;
    color: darkgray;
    padding: 0.5rem;
}

.btn--block {
    display: block;
    width: 100%;
}

hr {
    height: 0.001rem;
    background-color: gray;
}

.favorite-box {
    position: absolute;
    top: -2rem;
    right: 1rem;
}