/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
}

/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}