.content {
    min-height: 100%;
    display: grid;
    place-items: center;
}

.right-box {
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.left-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.right-box-content {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    min-height: 90%;
}

h1 {
    margin-bottom: 0.1rem;
}

hr {
    background: black;
}

.header {
    margin-bottom: 0.2rem;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.icons-box {
    margin: 0.3rem 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.icons-box div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem
}

.description-box {
    margin-top: 1rem;
    font-size: 0.8rem;
    line-height: 2;
    margin-bottom: 1.25rem;
}

@media(min-width: 200px) {
    .card {
        flex-direction: column-reverse;
        width: 80%;
        margin-top: 5rem;
        margin-bottom: 2rem;
    }

    .left-box {
        width: 100%;
        height: 30rem;
    }

    .right-box {
        width: 90%;
        height: auto;
    }

    .icons-box {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .icons-box div {
        justify-content: center;
    }
}

@media(min-width: 500px) {
    .card {
        flex-direction: column-reverse;
        max-height: 100rem;
        width: 80%;
        margin-top: 5rem;
    }

    .left-box {
        width: 100%;
        height: 30rem;
    }

    .right-box {
        width: 90%;
        height: auto;
    }

    .icons-box {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .icons-box div {
        justify-content: center;
    }
}

@media(min-width: 900px) {
    .card {
        flex-direction: row;
        height: 80%;
        width: 90%;
    }

    .left-box {
        width: 40%;
        height: 100%;
    }

    .right-box {
        width: 60%;
        height: 95%;
    }

    .icons-box {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

img {
    height: 100%;
    width: 100%;
    border-radius: 0.25rem;
}

.images-box {
    background: gray;
}

.map-box {
    background: yellow;
}

.left-common-box {
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    width: 90%;
    height: 47%;
}

#map-canvas {
    height: 100%;
    width: 100%;
}