<div class="content">
    <div class="card">
        <div class="left-box card-box">
            <div class="images-box left-common-box">
                <img src="{{value}}" title='' />
            </div>
            <div class="map-box left-common-box">
                <div #map id="map-canvas">

                </div>
            </div>
        </div>
        <div class="right-box card-box">
            <div class="right-box-content">
                <div class="header">
                    <h1>{{travePlaceEntity.name}}</h1>
                </div>
                <hr>
                <div class="icons-box">
                    <div>
                        <mat-icon class="icons"> location_on</mat-icon>
                        <span>{{cityName}}</span>
                    </div>
                    <div>
                        <mat-icon class="icons"> directions_walk</mat-icon>
                        <span>{{distanceTimeForLocation.dText}} ({{distanceTimeForLocation.tText}})</span>
                    </div>
                    <div>
                        <mat-icon>av_timer</mat-icon>
                        <span>{{travePlaceEntity.duration}} mins</span>
                    </div>
                    <div>
                        <mat-icon>calendar_today</mat-icon>
                        <span *ngIf="travePlaceEntity.program != null">{{travePlaceEntity.program}}</span>
                        <span *ngIf="travePlaceEntity.program == null">{{travePlaceEntity.program}} Non-stop</span>
                    </div>
                </div>
                <hr>
                <div class="description-box">
                    {{travePlaceEntity.description}}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <agm-map [latitude]="locationLat" [longitude]="locationLong">
                    <agm-marker [latitude]="locationLat" [longitude]="locationLong"></agm-marker>
                    <agm-marker [latitude]="curentLat" [longitude]="curentLong"></agm-marker>
                </agm-map> -->